body
{
    background-color: #a6a5a6 !important;
}
#rawlog
{
    background-color: white;
    color: black;
    position: relative;
    width: 98%;
    height: 250px;
    font-size: 14px;
    overflow-y: scroll;
    border-radius: 7px;
    margin-left: 5px;
}